@font-face {
    font-family: "DRAguSansBlack";
    src: url("../fonts/DRAguSans-Black.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: DRAguSansBlack;
    background: black;
}

canvas
{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}